src/AspNetCoreCsvImportExport/bin
src/AspNetCoreCsvImportExport/obj
.vs/restore.dg
src/AspNetCoreCsvImportExport/AspNetCoreCsvImportExport.xproj.user
src/AspNetCoreCsvImportExport/project.lock.json
